

ion-card{
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
}



ion-tab-bar{
  box-shadow: 2.8px 2.2px 0 0 rgba(0, 0, 0, 0.034), 6.7px 5.3px 0 0 rgba(0, 0, 0, 0.048), 12.5px 10px 0 0 rgba(0, 0, 0, 0.06);
  background: rgba(0,0,0,0);

  padding-left: 17px;
  padding-right: 17px;

  border: none;
  ion-icon{
    color: #999;
  }

  ion-label{
    color: #999;
  }




}





ion-tab-button{
  background-color: rgba(0,0,0,0);
  position: relative;
  max-width: 100px;
  margin: auto;

}



ion-tab-button.tab-selected{
  ion-icon{
    color: var(--ion-color-primary);
  }
  ion-label{
    color: var(--ion-color-primary);
  }





}
